@font-face {
    font-family: 'Helvetica Neue Cyr Thin';
    src: url('HelveticaNeueCyr-Thin.eot');
    src: url('HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Thin.woff') format('woff'),
    url('HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr Light';
    src: url('HelveticaNeueCyr-Light.eot');
    src: url('HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Light.woff') format('woff'),
    url('HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr Roman';
    src: url('HelveticaNeueCyr-Roman.eot');
    src: url('HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Roman.woff') format('woff'),
    url('HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr Medium';
    src: url('HelveticaNeueCyr-Medium.eot');
    src: url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Medium.woff') format('woff'),
    url('HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr Bold';
    src: url('HelveticaNeueCyr-Bold.eot');
    src: url('HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Bold.woff') format('woff'),
    url('HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    color: rgba(0, 0, 0, 255);
}

@media only screen and (min-width: 993px) {
    .header__container {
        width: 57% !important;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    /*background-image: url("img/rymala.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center -20px;*/
    /*background-size: 127%;*/
    /*opacity: 0.4;*/
}

main {
    flex: 1 0 auto;
}

@media (max-width: 600px) {
    .container{
        width: 96% !important;
    }
}

.header{
    height: 73px;
    background-color: rgba(255,255,255,0.9);
    box-shadow: none;
}

.header__brand-logo{
    height: 29px;
    width: 170px;
    margin-top: 20px;
    background-image: url("Grymala.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header__item{
    margin: 0 10px;
    padding: 5px 10px 0;
    font-family: 'Helvetica Neue Cyr Light';
    font-size: 24px;
    font-weight: 300;
    color: rgba(0, 0, 0, 255);
}

.header__item:hover{
    background-color: transparent;
    border-bottom: 4px solid #000;
}

.index__title{
    margin-bottom: 30px;
    font-family: 'Helvetica Neue Cyr Bold';
    font-size: 44px;
    font-weight: 600;
    text-align: center;
}

nav .sidenav-trigger {
    float: right !important;
    margin: 8px 18px !important;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{
    font-size: 30px !important;
}

/*slider-block*/

.slider-block{
    height: 740px;
}

/*about-us-block*/

.about-us-block{
    padding-bottom: 72px;
}

.passion,
.experience,
.knowledge{
    padding: 0 20px;
}

.about-us-block__video{
    height: 108px;
    margin-bottom: 20px;
}

.about-us-block__btn{
    height: 43px !important;
    line-height: 46px !important;
    width: 211px;
    border-radius: 5px !important;
    font-family: 'Helvetica Neue Cyr Medium';
    font-size: 22px !important;
    text-transform: none !important;
}

.passion__btn{
    background: linear-gradient(270deg,#05c6c0,#03e58e);
}

.experience__btn{
    background: linear-gradient(270deg,#875bfe,#4f9efd);
}

.knowledge__btn{
    background: linear-gradient(270deg,#ff8d81,#ffc784);
}

.about-us-block__info{
    line-height: 19px;
    margin-top: 18px;
    font-family: 'Helvetica Neue Cyr Roman';
    font-size: 13px;
}

/*our-expertise-block*/

.our-expertise-block{
    padding: 24px 0 40px;
    background-color: #eee;
}

.our-expertise-block__img{
    height: 90px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.augmented-reality__img{
    margin-top: 34px;
    background-image: url("Augmented_Reality@1X.png");
}

.image-processing__img{
    background-image: url("Image_processing@1X.png");
}

.custom-design__img{
    background-image: url("Custom_design@1X.png");
}

.neural-networks__img{
    margin-top: 30px;
    background-image: url("Neural_networks@1X.png");
}

.complex-algorithms__img{
    background-image: url("Complex_algorithms@1X.png");
}

.native-development__img{
    background-image: url("Native_development@1X.png");
}

.our-expertise-block__title{
    margin-top: -7px;
    margin-bottom: 0;
    font-family: 'Helvetica Neue Cyr Light';
    font-size: 22px;
}

.our-expertise-block__info{
    margin-top: 8px;
    line-height: 15px;
    font-family: 'Helvetica Neue Cyr Light';
    font-size: 14px;
}

.index-video-block{
    height: 560px;
    background-image: url("Base@1X.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*contacts-block*/

.contacts-block{
    padding: 0 0 100px;
}

@media (min-width: 993px) {

    .contacts-block__col{
        padding-right: 30px !important;
    }

    .contacts-block__col:last-child{
        padding-left: 40px !important;
        border-left: 1px solid #eee;
    }

    .contacts-block__title{
        margin: 33px 0 38px 66px;
    }

    .contacts-block__divider{
        display: none;
    }
}

@media (max-width: 992px) {
    .contacts-block__col{
        padding: 0 !important;
    }

    .contacts-block__title{
        margin: 33px 0 38px;
        text-align: center;
    }

    .contacts-block__divider{
        margin: 30px;
    }

    .contacts-block__img{
        height: auto;
        width: 100%;
    }
}

.contacts-block__title{
    font-family: 'Helvetica Neue Cyr Roman';
    font-size: 20px;
}

.contacts-block__label{
    width: 101px !important;
    font-family: 'Helvetica Neue Cyr Light';
    font-size: 20px;
    color: rgba(0, 0, 0, 255);
}

.contacts-block__input-block{
    width: calc(100% - 101px) !important;
}

.contacts-block__input,
.contacts-block__textarea{
    padding-left: 10px !important;
    background-color: #f0f0f0 !important;
    border: 1px solid #eee !important;
    border-radius: 5px !important;
}

.contacts-block__input:focus,
.contacts-block__textarea:focus{
    box-shadow: 0 0 5px 3px rgba(59, 149, 255, 1) !important;
    outline: none;
}

.contacts-block__input{
    height: 35px !important;
    width: calc(100% - 12px) !important;
    margin-bottom: 4px !important;
}

.contacts-block__textarea{
    height: auto;
    resize: none;
}

.contacts-block__btn{
    float: right;
    height: 28px !important;
    line-height: 32px !important;
    margin: 3px 9px 0 0;
    padding: 0 23px !important;
    background-color: #45d1ff !important;
    border-radius: 7px !important;
    font-family: 'Helvetica Neue Cyr Light';
    box-shadow: none !important;
}

.contacts-block__img{
    margin-bottom: 10px;
}

.contacts-block__row{
    margin-bottom: 0 !important;
}

.contacts-block__col3_width{
    width: 70px !important;
}

.contacts-block__info{
    margin: 0;
    font-family: 'Helvetica Neue Cyr Light';
}

.contacts-block__info_bold{
    margin: 0;
    font-family: 'Helvetica Neue Cyr Medium';
}

/*footer*/

.footer-block{
    background-color: #000 !important;
    font-size: 18px;
}

.footer-block__logo{
    display: inline-block;
    height: 33px;
    width: 203px;
    background-image: url("Grymala-footer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media (min-width: 993px) {
    .footer-block__logo{
        margin-top: 24px;
    }

    .footer-block__first{
        width: 200px !important;
    }

    .footer-block__second{
        width: 270px !important;
        padding-left: 100px !important;
    }
}

@media (max-width: 992px) {
    .footer-block__logo_text-align{
        text-align: center;
    }

    .footer-block__border{
        padding-left: calc(100% - 95px) !important;
    }
}

.footer-block__border{
    border-right: 1px solid rgba(74, 74, 74, 255);
}

.footer-block__item{
    font-family: 'Helvetica Neue Cyr Light';
}

.footer-copyright__text{
    margin-top: 0;
    font-family: 'Helvetica Neue Cyr Thin';
    color: rgba(74, 74, 74, 255) !important;
}
